@charset "ISO-8859-1";

form{
	color:black;	
}

body{
	background-image: url("img/velfix-tienda-fisica.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

input{
	text-align: center;
	
}
